:root{
    --app-bg:#040C18;
    --white:#ffff;
    --primary-font: "Manrope";
    --bold-font: "Manrope-Bold";
    --Text:#81AFDD;
    --orange:#FF4820;
}

html{
    box-sizing: border-box;
    font-size:62.5%;
    margin: 0;
    padding: 0;
}
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    line-height: 1.6;
    font-size: 1.6rem;
    background-color: var(--app-bg);
    font-family:'Manrope';
}

/*

-- Reset Style --

*/

a {
    text-decoration: none;
    display: inline-block;
}

/*

-- Helper Class --

*/

/*

-- Component --

*/


/*

-- App Style --

*/


/*

========================================== 
__________________Header__________________ 
==========================================

*/
.header{
    min-height: 50rem;
    margin-top: 2rem;
}
/*

======  
Nav
======

*/
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*

======  
Logo
======

*/
.app-logo{
   margin-left: 9rem;
}
.app-logo__logo-p{
   color: var(--white);
   font-family: var(--bold-font);
}
/*

======  
Menu
======

*/
.menus{
    list-style-type: none;
    display: flex;
}
.menu{
    margin-right: 4rem;
    color: var(--white);
}
.menu:hover{
   
    transition: 1s;
}


/*

======  
Mobile-nav
======

*/
.mobile-nav{
    position: fixed;
    top: 0;
    left: -25rem;
    bottom: 0;
    width: 25rem;
    background-color:black;
    padding: 2.5rem;
    transition: all 250ms ease-in-out;
    z-index: 9999;
}
.mobile-nav--open{
    left: 0;
}
.mobile-nav__title{
    color: var(--white);
    font-size: 2rem;
    border-bottom: 1px solid var(--white);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
/*

======  
Mobile-menu
======

*/
.mobile-menus{
    margin-bottom: 3rem;
}
.mobile-menu{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2rem;
    margin-left: -2rem;
    list-style-type: none;
    color: var(--white);
}
.mobile-menu:hover{
    color: #81AFDD;
}
/*

======  
Mobile-link
======

*/
.mobile-nav__links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-nav__link{
    color: var(--white);
    border: solid var(--white) .1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all .5s ease;
}
.mobile-nav__link:hover{
    background-color: var(--white);
    color:black;
}
/*

======  
Link
======

*/
.nav__links{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 10rem;
}
.nav__link{
    margin-left: 2rem;
    color: var(--white);
    cursor: pointer;
}
.nav__link--border{
    background-color: var(--orange);
    width: 12.2rem;
    height: 5rem;
    border-radius: .5rem;
    text-align: center;
    padding-top: 1rem;
}
/*

======  
Link
======

*/
.nav__btn{
    display: none;
    background-color: #002853;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav__btn-line{
    display: block;
    width: 3rem;
    height: 0.3rem;
    border-radius: 5rem;
    background-color: var(--orange);
    position: relative;
    
}
.nav__btn-line::after{
    content: '';
    display: block;
    width: 3rem;
    height: 0.3rem;
    border-radius: 5rem;
    background-color: var(--orange);
    position: absolute;
   
}
.nav__btn-line::before{
    content: '';
    display: block;
    width: 3rem;
    height: 0.3rem;
    border-radius: 5rem;
    background-color: var(--orange);
    position: absolute;
    
}
.nav__btn-line::before {
    top: -0.8rem;
}

.nav__btn-line::after {
    top: 0.8rem;
}

.nav__btn--open .nav__btn-line {
    background-color: transparent;
}

.nav__btn--open .nav__btn-line::before {
    transform: translateY(8px) rotate(45deg);
}

.nav__btn--open .nav__btn-line::after {
    transform: translateY(-8px) rotate(-45deg);
}


/*

======  
HeaderWrapper
======

*/
.header-wrapper{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-wrapper__blur{
    position: absolute;
    width: 1013px;
    height: 1013px;
    left: -336px;
    top: -305px;
    background: #002853;
    filter: blur(282px);
    z-index: -999999;
}
.header-content{
    padding: 3rem;
}
.header-wrapper__title{
    font-size: 4rem;
    width: 40rem;
    font-family: var(--bold-font);
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-wrapper__caption{
    color: var(--Text);
    width: 43rem;
    font-size: 1.3rem;
    margin-top: 2rem;
}
/*

======  
HeaderImage
======

*/
.header__image{
    width: 50rem;
    height: 50rem;
    margin-left: 4rem;
}

/*

======  
Newsletter
======

*/
.newsletter{
    margin-top: 2rem;
}
.newsletter__input{
    border: none;
    outline: none;
    width: 40rem;
    height: 5rem;
    background-color: #052D56;
    color: var(--white);
}
.newsletter__button{
   border: none;
   outline: none;
   width: 13rem;
   height: 5rem;
   background-color: var(--orange);
   color: var(--white);
   cursor: pointer;
   transition: .5s;
}
.newsletter__button:hover{
   background-color: var(--white);
   color: var(--orange);
}
.newsletter__views{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -5rem;
}
.newsletter__images{

}
.newsletter__caption{
    font-size: 1.2rem;
    color: var(--white);
  
}

/*

======  
HeaderBrands
======

*/
.header__brands{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__brand{
 margin-right: 8rem;
}
.header__brand:nth-child(4){
    margin-right: -8rem;
}
/*

========================================== 
__________________Main____________________
==========================================

*/

.main{
    margin-top: 10rem;
}
/*

=========================================== 
__________________explanation______________
===========================================

*/
.explanation{
    background-color: #042c54;
    /* width: 100rem; */
    min-width: 30rem;
    margin: 0px 8rem
}
.explanation-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8rem;
    
}
.explanation-header__line{
    width: 3rem;
    height: .2rem;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    position:absolute;
    top: -1rem;
}
.explanation-header__title{
    width: 30rem;
    color: var(--white);
    font-size: 1.4rem;
    font-family: var(--bold-font);
    position: relative;
}
.explanation-header__description{
   font-size: 1.3rem;
   padding: 0 10rem;
   color: var(--Text);
   margin-top: 3rem;
}
.explanation-content{
    margin-top: 6rem;
   
}
.explanation-content-header{
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}
.explanation-content-header__title{
    font-family: var(--bold-font);
    font-size: 2rem;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 30rem;
}
.explanation-content-header__link{
    color: #FF8A71;
}
.explanation-specifications{
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.explanation-specification{
    position: relative;
    margin: 0 5rem;
}
.explanation-speification__line{
    width: 3rem;
    height: .2rem;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    position:absolute;
    top: -1rem;
}
.explanation-speification__title{
    color: var(--white);
    font-family: var(--bold-font);
    margin-bottom: 3rem;
}
.explanation-speification__caption{
    font-size: 1.3rem;
    color: var(--Text);
    margin-bottom: 10rem;

}

/*

=========================================== 
__________________Future___________________
===========================================

*/

.future{
    margin-top: 10rem;
    color: white;
    font-size: 1.2rem;
}
.future__blur{
    position: absolute;
    width: 400px;
    height: 400px;
    background: #1B78DE;
    filter: blur(282px);
    z-index: -9999;
}
.future__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.future__header{
    margin-top: -15rem;
    margin-right:15rem;
}
.future__title {
    width: 45rem;
    font-size: 3.2rem;
    font-family: var(--bold-font);
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.future__caption{
    color:#FF8A71;
    margin-top: 2rem;
}
.future__contents{
    font-size: 1rem;
   
}
.future__content{
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
    gap: 10rem;
}
.future-content-line{
    width: 3rem;
    height: .2rem;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    position:absolute;
    top: -.5rem;
}
.future-content__title{
    margin-top: -5rem;
    font-size: 1.3rem;
    width: 12rem;
}
.future-content__caption{
    width: 265px;
    height: 92px;
    color: var(--Text);
}

/*

=========================================== 
__________________MyApp___________________
===========================================

*/
.myapp{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10rem;
}
.myapp__img{
    width: 45rem;
    height: 45rem;
    margin-bottom: 10rem;
}
.myapp__content{

}
.myapp__title{
    font-family: var(--bold-font);
    font-size: 4.1rem;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 60rem;
}
.myapp__caption{
    color: var(--Text);
    width: 60rem;
    font-size: 1.3rem;
    margin-top: 2rem;
}
.myapp__link{
    color:#FF8A71;
    font-size: 1.2rem;
    margin-top: 2rem;
}





/*

=========================================== 
__________________Register___________________
===========================================

*/
.register{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 4rem;
    margin: 0 10rem;
    border-radius: 1rem;
}
.register__wrapper{
    
}
.register__content{

}
.register__link{
    color: #0E0E0E;
    font-size: 1rem;
}
.register__title{
    font-family: var(--bold-font);
    font-size: 2rem;
}
.register__button{
    background-color: black;
    border-radius: 2rem;
    padding: 1.2rem;
    color: var(--white);
    cursor: pointer;
    transition: .6s;
}
.register__button:hover{
    background-color: var(--white);
    color: black;
}

/*

=========================================== 
__________________Blog Section_____________
===========================================

*/
.blog-section{
    
}
.blog-section__title{
    margin-bottom: 10rem;
    font-family: var(--bold-font);
    font-size: 3.7rem;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5rem 50rem 10rem 10rem;
}
.blogs{
   
}
.big{
    

}
.big img{
  
}
.blog{
  
}
.blog__img {
    width: 20rem;
    height: 10rem;
}
.blog__content{
    
}
.blog__data{

}
.blog__title{

}
.blog__link{

}
/*

=========================================== 
__________________Footer_____________
===========================================

*/
.footer{
    text-align: center;
    background-color: #031B34;
    padding-top: 5rem;
}
.footer__title{
    margin-bottom: 5rem;
    font-family: var(--bold-font);
    font-size: 3.5rem;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 40rem;
}
.footer__link{
    margin-top: 5rem;
    color: var(--white);
    border: solid .1rem var(--white);
    padding: 1rem;
    font-size: 1.4rem;
}
.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15rem;
    margin:15rem 20rem 0 20rem ;
}
.footer__left{
    margin-top: -10rem;
}
.footer__logo{
    color: var(--white);
   font-family: var(--bold-font);
   font-size: 3rem;
}
.footer__caption{
    color: var(--white);
    font-size: 1.1rem;
}
.footer__right{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
     color: white;
}
.footer-list{
    width: 16rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.footer-list__title{
    font-size: 1rem;
    text-align: center;
   
}
.footer-pages{
    list-style-type: none;
}
.footer-pages__item{

}
.footer-pages__link{
    font-size: 1rem;
    color: var(--white);
}
.footer__caption{
    font-size: 1rem;
}